*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    background-color: #eee;
    display: flex;
}

.container div{
    width: 200px;
    max-height: 100px;
    color: #fff;
    padding: 10px;
}

.container .one{
    background-color: brown;
    order: 3;
}

.container .two{
    background-color: blueviolet;
    order: 1;
}

.container .three{
    background-color: cadetblue;
    order: 2;
}

.container .four{
    background-color: burlywood;
    order: 4;
}



